.image-wrapper {
  overflow: hidden;
  max-height: 300px;
  border-radius: 12px;
}

.animated-image {
  transition: transform 0.5s ease;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-wrapper:hover .animated-image {
  transform: scale(1.1);
}

.whatsapp-float {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1050;
  background-color: white;
  padding: 10px;
  border-radius: 50%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.whatsapp-float:hover {
  transform: scale(1.1);
}



