.image-wrapper {
  overflow: hidden;
  max-height: 300px;
  border-radius: 12px;
}

.animated-image {
  transition: transform 0.5s ease;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-wrapper:hover .animated-image {
  transform: scale(1.1);
}


